<div class="row px-4">
    <% for(const author of authors){ %>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="<%= author.image %>" style="max-height: 150px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= author.name %></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="<%= '/author/delete/'+author._id %>" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <% } %>
</div>